<h1>1번. 농산물(배추,무,고추,마늘,양파)별 생산량과 생육 기간 전체의
기상요인(기온,강수량,일사량,습도,적설량,순간최대풍속) 의 상관관계 조사하기</h1>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

<h4>생산량 데이터</h4>

In [2]:
cabbage = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/배추_생산량.csv', encoding='euc-kr') # 배추
radish = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/무_생산량.csv', encoding='euc-kr') # 무
pepper = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/건고추_생산량.csv', encoding='euc-kr') # 고추
garlic = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/마늘_생산량.csv', encoding='euc-kr') # 마늘
onion = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/양파_생산량.csv', encoding='euc-kr') # 양파

<h4>날씨 데이터</h4>

In [4]:
weather1 = pd.read_excel('./날씨데이터/kma20200522174253492.xlsx')
weather2 = pd.read_excel('./날씨데이터/kma20200522174416436.xlsx')
weather3 = pd.read_excel('./날씨데이터/kma20200522174723598.xlsx')
weather4 = pd.read_excel('./날씨데이터/kma20200522175735661.xlsx')
weather5 = pd.read_excel('./날씨데이터/kma20200522175856809.xlsx')
weather6 = pd.read_excel('./날씨데이터/kma20200522180109240.xlsx')

In [5]:
weather = pd.concat([weather1, weather2, weather3, weather4, weather5, weather6])
del weather['조사지역']
weather

,거래일자,지역(시),지역(군),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,20000101,서울,종로구,5.5,9.9,1.8,0.0,2.0,4.0,64.0,0.0,0.0,0.0
1,20000101,강원도,춘천시,0.1,7.5,-4.5,0.0,5.0,5.0,87.0,0.0,0.0,0.0
2,20000101,강원도,철원군,0.2,7.9,-5.4,0.0,4.0,0.0,87.0,0.0,0.0,0.0
3,20000101,강원도,속초시,3.2,4.1,2.4,1.2,0.0,0.0,94.0,0.0,0.0,0.0
4,20000101,강원도,원주시,1.9,9.6,-3.9,0.0,3.0,4.0,78.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60966,20200521,경상북도,울진군,12.3,16.4,6.5,0.0,8.0,0.0,78.0,6.0,0.0,6.2
60967,20200521,경상북도,의성군,15.0,23.1,6.3,0.0,10.0,0.0,72.0,5.0,0.0,6.0
60968,20200521,경상북도,영천시,14.1,21.7,8.2,0.0,6.0,0.0,74.0,7.0,0.0,9.7
60969,20200521,경상북도,포항시,14.1,17.4,10.5,0.0,8.0,25.0,72.0,6.0,0.0,6.3
60970,20200521,경상북도,울릉군,11.4,14.7,9.1,1.4,6.0,22.0,87.0,7.0,0.0,14.3

In [6]:
print(weather['지역(군)'].value_counts()) #고창군, 고흥군, 의성군, 무안군, 해남군, 안동시
pd.set_option('display.max_rows', 100) #창녕군없음

남구      14788
여수시      7394
영주시      7394
서귀포시     7394
구미시      7394
        ...
순천시      6012
남제주군     5006
고창군      2892
무안군      2367
삼척시      2367
Name: 지역(군), Length: 75, dtype: int64

In [7]:
weather_data = weather[weather['지역(군)'].isin(['고창군', '고흥군', '의성군', '무안군', '해남군', '안동시'])]
weather_data['거래일자'] = pd.to_datetime(weather_data['거래일자'], format='%Y%m%d')
weather_data
#배추 - 전라북도 고창군
#무 - 전라북도 고창군
#마늘 - 전라남도 고흥군, 경상북도 의성군
#양파 - 전라남도 무안군
#건고추 - 전라남도 해남군, 경상북도 안동시

/Users/kimsejin/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,거래일자,지역(시),지역(군),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
30,2000-01-01,전라남도,해남군,8.8,14.5,-1.9,0.0,6.0,0.0,54.0,0.0,0.0,0.0
32,2000-01-01,전라남도,고흥군,8.2,13.5,0.0,0.0,5.0,0.0,54.0,0.0,0.0,0.0
62,2000-01-01,경상북도,안동시,2.8,8.8,-4.5,0.0,0.0,2.0,77.0,0.0,0.0,0.0
65,2000-01-01,경상북도,의성군,-0.3,5.3,-7.4,0.0,0.0,0.0,72.0,0.0,0.0,0.0
99,2000-01-02,전라남도,해남군,8.3,12.6,4.2,0.5,0.0,0.0,63.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60932,2020-05-21,전라남도,해남군,16.4,21.1,9.5,0.0,12.0,0.0,79.0,5.0,0.0,7.6
60933,2020-05-21,전라남도,고흥군,15.1,19.1,12.3,0.0,5.0,0.0,78.0,8.0,0.0,6.6
60941,2020-05-21,전라북도,고창군,16.9,23.7,8.8,0.0,11.0,25.0,63.0,4.0,0.0,6.0
60964,2020-05-21,경상북도,안동시,14.4,22.6,8.5,0.0,10.0,27.0,71.0,4.0,0.0,8.9
60967,2020-05-21,경상북도,의성군,15.0,23.1,6.3,0.0,10.0,0.0,72.0,5.0,0.0,6.0

<h4>상관관계</h4>

<h4>8~10월 강수량은 무 생산량과 얼마만큼의 상관관계가 있는가?(1.1.1)</h4>

In [13]:
data = weather_data[weather_data['지역(군)'] == '고창군']
data['거래일자'] = pd.to_datetime(data['거래일자'], format='%Y%m%d')
data = data[data['거래일자'].dt.month.isin(['08','09','10'])]

/Users/kimsejin/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
data['년도'] = data['거래일자'].dt.year
data['월'] = data['거래일자'].dt.month
del data['거래일자']
monthly_weather = data.groupby(['년도','월'], as_index=False).mean()
monthly_weather

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,2010,10,15.300000,19.600000,10.400000,0.000000,2.000000,9.000000,80.000000,6.000000,0.0,6.100000
1,2011,10,15.600000,22.150000,9.200000,0.000000,5.000000,12.500000,68.000000,0.000000,0.0,6.150000
2,2012,8,27.661290,31.983871,24.119355,16.383871,4.516129,15.290323,75.645161,0.000000,0.0,9.222581
3,2012,9,20.960000,25.950000,16.813333,7.026667,5.033333,14.566667,76.300000,0.000000,0.0,7.353333
4,2012,10,15.212903,21.848387,9.458065,1.906452,6.838710,13.967742,70.225806,0.000000,0.0,7.435484
5,2013,8,28.154839,33.316129,24.187097,9.480645,7.322581,19.064516,75.967742,0.000000,0.0,7.122581
6,2013,9,22.146667,27.723333,17.653333,0.853333,5.866667,15.766667,74.966667,0.000000,0.0,6.943333
7,2013,10,16.058065,22.287097,10.829032,0.390323,6.483871,13.709677,72.645161,0.000000,0.0,7.274194
8,2014,8,24.445161,28.693548,21.645161,15.390323,2.741935,11.967742,84.387097,0.000000,0.0,6.929032
9,2014,9,21.890000,27.710000,17.336667,2.266667,5.700000,15.933333,77.166667,0.000000,0.0,6.873333
10,2014,10,16.129032,22.980645,10.341935,3.119355,6.838710,14.000000,70.193548,0.000000,0.0,7.270968
11,2015,8,24.632258,29.606452,20.832258,2.848387,5.774194,17.709677,78.290323,0.000000,0.0,7.577419
12,2015,9,19.456667,27.050000,15.636667,1.103333,6.233333,15.633333,70.666667,0.000000,0.0,6.710000
13,2015,10,15.609677,22.077419,10.319355,3.429032,6.870968,14.064516,76.645161,0.000000,0.0,7.287097
14,2016,8,27.300000,33.141935,22.803226,1.822581,7.129032,19.354839,77.419355,0.000000,0.0,7.354839
15,2016,9,22.776667,28.063333,18.743333,5.333333,4.533333,13.900000,82.900000,0.000000,0.0,6.753333
16,2016,10,17.525000,22.278571,13.714286,5.482143,3.000000,9.714286,82.964286,0.000000,0.0,6.825000
17,2017,8,22.063333,31.210000,22.353333,11.106667,5.566667,17.566667,82.800000,0.000000,0.0,7.983333
18,2017,9,21.170000,27.250000,16.206667,3.850000,6.100000,15.466667,83.433333,0.000000,0.0,6.583333
19,2017,10,14.980645,20.787097,10.448387,1.309677,6.838710,7.258065,78.387097,0.000000,0.0,7.183871
20,2018,8,27.341935,32.893548,23.080645,7.980645,7.258065,11.064516,76.387097,5.903226,0.0,12.732258
21,2018,9,20.396667,26.033333,15.900000,4.783333,5.900000,9.166667,79.066667,6.000000,0.0,11.940000
22,2018,10,12.716129,19.019355,7.445161,4.712903,7.129032,8.000000,77.290323,4.354839,0.0,7.441935
23,2019,8,26.038710,30.838710,22.048387,7.629032,6.193548,17.838710,80.290323,6.193548,0.0,6.974194
24,2019,9,21.810000,26.640000,18.006667,7.823333,4.600000,13.166667,82.133333,6.666667,0.0,7.490000
25,2019,10,15.477419,21.416129,10.522581,3.822581,6.709677,13.161290,78.548387,5.064516,0.0,6.925806

In [11]:
monthly_weather = monthly_weather[['년도','월','강수량']]
monthly_weather

      년도   월        강수량
0   2010  10   0.000000
1   2011  10   0.000000
2   2012   8  16.383871
3   2012   9   7.026667
4   2012  10   1.906452
5   2013   8   9.480645
6   2013   9   0.853333
7   2013  10   0.390323
8   2014   8  15.390323
9   2014   9   2.266667
10  2014  10   3.119355
11  2015   8   2.848387
12  2015   9   1.103333
13  2015  10   3.429032
14  2016   8   1.822581
15  2016   9   5.333333
16  2016  10   5.482143
17  2017   8  11.106667
18  2017   9   3.850000
19  2017  10   1.309677
20  2018   8   7.980645
21  2018   9   4.783333
22  2018  10   4.712903
23  2019   8   7.629032
24  2019   9   7.823333
25  2019  10   3.822581

In [15]:
output = radish[radish['지역']== '전라북도']
output

       년도    지역  면적 (ha)  생산량 (톤)
12   2000  전라북도     6057   328803
28   2001  전라북도     5884   318833
44   2002  전라북도     4834   267928
60   2003  전라북도     5278   278065
76   2004  전라북도     5433   333882
92   2005  전라북도     3690   223186
108  2006  전라북도     3621   241193
124  2007  전라북도     2728   175589
140  2008  전라북도     3113   197841
156  2009  전라북도     2491   188967
172  2010  전라북도     2227   142507
188  2011  전라북도     3684   248876
204  2012  전라북도     2593   170152
220  2013  전라북도     3036   255171
236  2014  전라북도     2122   178683
252  2015  전라북도     2055   144396
269  2016  전라북도     1973   126495
286  2017  전라북도     2256   154888
303  2018  전라북도     2158   155907
320  2019  전라북도     1006    79648

In [17]:
data = pd.merge(monthly_weather, output)

In [18]:
data

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,지역,면적 (ha),생산량 (톤)
0,2010,10,15.300000,19.600000,10.400000,0.000000,2.000000,9.000000,80.000000,6.000000,0.0,6.100000,전라북도,2227,142507
1,2011,10,15.600000,22.150000,9.200000,0.000000,5.000000,12.500000,68.000000,0.000000,0.0,6.150000,전라북도,3684,248876
2,2012,8,27.661290,31.983871,24.119355,16.383871,4.516129,15.290323,75.645161,0.000000,0.0,9.222581,전라북도,2593,170152
3,2012,9,20.960000,25.950000,16.813333,7.026667,5.033333,14.566667,76.300000,0.000000,0.0,7.353333,전라북도,2593,170152
4,2012,10,15.212903,21.848387,9.458065,1.906452,6.838710,13.967742,70.225806,0.000000,0.0,7.435484,전라북도,2593,170152
5,2013,8,28.154839,33.316129,24.187097,9.480645,7.322581,19.064516,75.967742,0.000000,0.0,7.122581,전라북도,3036,255171
6,2013,9,22.146667,27.723333,17.653333,0.853333,5.866667,15.766667,74.966667,0.000000,0.0,6.943333,전라북도,3036,255171
7,2013,10,16.058065,22.287097,10.829032,0.390323,6.483871,13.709677,72.645161,0.000000,0.0,7.274194,전라북도,3036,255171
8,2014,8,24.445161,28.693548,21.645161,15.390323,2.741935,11.967742,84.387097,0.000000,0.0,6.929032,전라북도,2122,178683
9,2014,9,21.890000,27.710000,17.336667,2.266667,5.700000,15.933333,77.166667,0.000000,0.0,6.873333,전라북도,2122,178683
10,2014,10,16.129032,22.980645,10.341935,3.119355,6.838710,14.000000,70.193548,0.000000,0.0,7.270968,전라북도,2122,178683
11,2015,8,24.632258,29.606452,20.832258,2.848387,5.774194,17.709677,78.290323,0.000000,0.0,7.577419,전라북도,2055,144396
12,2015,9,19.456667,27.050000,15.636667,1.103333,6.233333,15.633333,70.666667,0.000000,0.0,6.710000,전라북도,2055,144396
13,2015,10,15.609677,22.077419,10.319355,3.429032,6.870968,14.064516,76.645161,0.000000,0.0,7.287097,전라북도,2055,144396
14,2016,8,27.300000,33.141935,22.803226,1.822581,7.129032,19.354839,77.419355,0.000000,0.0,7.354839,전라북도,1973,126495
15,2016,9,22.776667,28.063333,18.743333,5.333333,4.533333,13.900000,82.900000,0.000000,0.0,6.753333,전라북도,1973,126495
16,2016,10,17.525000,22.278571,13.714286,5.482143,3.000000,9.714286,82.964286,0.000000,0.0,6.825000,전라북도,1973,126495
17,2017,8,22.063333,31.210000,22.353333,11.106667,5.566667,17.566667,82.800000,0.000000,0.0,7.983333,전라북도,2256,154888
18,2017,9,21.170000,27.250000,16.206667,3.850000,6.100000,15.466667,83.433333,0.000000,0.0,6.583333,전라북도,2256,154888
19,2017,10,14.980645,20.787097,10.448387,1.309677,6.838710,7.258065,78.387097,0.000000,0.0,7.183871,전라북도,2256,154888
20,2018,8,27.341935,32.893548,23.080645,7.980645,7.258065,11.064516,76.387097,5.903226,0.0,12.732258,전라북도,2158,155907
21,2018,9,20.396667,26.033333,15.900000,4.783333,5.900000,9.166667,79.066667,6.000000,0.0,11.940000,전라북도,2158,155907
22,2018,10,12.716129,19.019355,7.445161,4.712903,7.129032,8.000000,77.290323,4.354839,0.0,7.441935,전라북도,2158,155907
23,2019,8,26.038710,30.838710,22.048387,7.629032,6.193548,17.838710,80.290323,6.193548,0.0,6.974194,전라북도,1006,79648
24,2019,9,21.810000,26.640000,18.006667,7.823333,4.600000,13.166667,82.133333,6.666667,0.0,7.490000,전라북도,1006,79648
25,2019,10,15.477419,21.416129,10.522581,3.822581,6.709677,13.161290,78.548387,5.064516,0.0,6.925806,전라북도,1006,79648

In [19]:
re = data.corr(method='pearson')
re

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,면적 (ha),생산량 (톤)
년도,1.000000,-0.166294,0.102746,0.139448,0.145959,0.144155,0.335879,-0.101124,0.497161,0.497867,NaN,0.326052,-0.736128,-0.657616
월,-0.166294,1.000000,-0.949942,-0.957416,-0.970898,-0.630967,-0.006297,-0.603083,-0.331823,0.004178,NaN,-0.343764,0.115530,0.066779
평균기온,0.102746,-0.949942,1.000000,0.972870,0.979900,0.582335,-0.005592,0.615368,0.288499,-0.024399,NaN,0.338760,-0.083337,-0.024710
최고기온,0.139448,-0.957416,0.972870,1.000000,0.971474,0.547616,0.114486,0.692110,0.219245,-0.092761,NaN,0.350564,-0.048299,0.007437
최저기온,0.145959,-0.970898,0.979900,0.971474,1.000000,0.649440,-0.065088,0.600281,0.380186,-0.036170,NaN,0.327005,-0.121310,-0.067512
강수량,0.144155,-0.630967,0.582335,0.547616,0.649440,1.000000,-0.259683,0.145944,0.441669,0.050082,NaN,0.317960,-0.164886,-0.132411
일조시간,0.335879,-0.006297,-0.005592,0.114486,-0.065088,-0.259683,1.000000,0.276357,-0.444421,-0.050030,NaN,0.251708,0.028989,0.117795
일사량,-0.101124,-0.603083,0.615368,0.692110,0.600281,0.145944,0.276357,1.000000,-0.095835,-0.371412,NaN,-0.203668,0.015589,0.091936
습도,0.497161,-0.331823,0.288499,0.219245,0.380186,0.441669,-0.444421,-0.095835,1.000000,0.253833,NaN,0.010250,-0.537523,-0.523086
운량,0.497867,0.004178,-0.024399,-0.092761,-0.036170,0.050082,-0.050030,-0.371412,0.253833,1.000000,NaN,0.402593,-0.560172,-0.513379
적설량,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
순간최대풍속,0.326052,-0.343764,0.338760,0.350564,0.327005,0.317960,0.251708,-0.203668,0.010250,0.402593,NaN,1.000000,-0.040876,-0.052206
면적 (ha),-0.736128,0.115530,-0.083337,-0.048299,-0.121310,-0.164886,0.028989,0.015589,-0.537523,-0.560172,NaN,-0.040876,1.000000,0.928007
생산량 (톤),-0.657616,0.066779,-0.024710,0.007437,-0.067512,-0.132411,0.117795,0.091936,-0.523086,-0.513379,NaN,-0.052206,0.928007,1.000000