In [1]:
import pandas as pd
price = pd.read_csv('./건고추_양건_월별_가격.csv')

path = '건고추_공급량/pepper'
o00 = pd.read_excel('./{}_00.xlsx'.format(path))
o01 = pd.read_excel('./{}_01.xlsx'.format(path))
o02 = pd.read_excel('./{}_02.xlsx'.format(path))
o03 = pd.read_excel('./{}_03.xlsx'.format(path))
o04 = pd.read_excel('./{}_04.xlsx'.format(path))
o05 = pd.read_excel('./{}_05.xlsx'.format(path))
o06 = pd.read_excel('./{}_06.xlsx'.format(path))
o07 = pd.read_excel('./{}_07.xlsx'.format(path))
o08 = pd.read_excel('./{}_08.xlsx'.format(path))
o09 = pd.read_excel('./{}_09.xlsx'.format(path))
o10 = pd.read_excel('./{}_10.xlsx'.format(path))
o11 = pd.read_excel('./{}_11.xlsx'.format(path))
o12 = pd.read_excel('./{}_12.xlsx'.format(path))
o13 = pd.read_excel('./{}_13.xlsx'.format(path))
o14 = pd.read_excel('./{}_14.xlsx'.format(path))
o15 = pd.read_excel('./{}_15.xlsx'.format(path))
o16 = pd.read_excel('./{}_16.xlsx'.format(path))
o17 = pd.read_excel('./{}_17.xlsx'.format(path))
o18 = pd.read_excel('./{}_18.xlsx'.format(path))
o19 = pd.read_excel('./{}_19.xlsx'.format(path))
# o20 = pd.read_excel('./onion_20.xlsx')

product = pd.concat([o00, o01, o02, o03, o04, o05, o06, o07, o08, o09, o10, o11, o12, o13, o14, o15, o16, o17, o18, o19])
# onion = onion[2:]
product.head(10)

,거래년월일,품목명,시장코드,시장명,출하지코드,출하지명,거래량,품목코드
0,총 합계,전체,NaN,NaN,NaN,NaN,"79,211",NaN
1,소계,건고추(일반),NaN,NaN,NaN,NaN,"79,211",120701.0
2,20001230,건고추(일반),210001.0,부산엄궁도매시장,356010,충청남도서산시동문동,"5,100",120701.0
3,20001229,건고추(일반),311201.0,구리도매시장,501000,광주동구,60,120701.0
4,20001229,건고추(일반),210001.0,부산엄궁도매시장,621010,경상남도김해시부원동,"4,500",120701.0
5,20001228,건고추(일반),311201.0,구리도매시장,501000,광주동구,40,120701.0
6,20001228,건고추(일반),210001.0,부산엄궁도매시장,621010,경상남도김해시부원동,"5,000",120701.0
7,20001227,건고추(일반),310401.0,안양도매시장,367805,충청북도괴산군괴산읍,600,120701.0
8,20001226,건고추(일반),310401.0,안양도매시장,390011,충청북도제천시중앙로1가,600,120701.0
9,20001223,건고추(일반),311201.0,구리도매시장,520000,전라남도나주시,40,120701.0

In [2]:
product['year'] = product['거래년월일'].apply(lambda x: str(x)[:4]).astype(str)
product['month'] = product['거래년월일'].apply(lambda x: str(x)[4:6]).astype(str)
product['거래량'] = product['거래량'].apply(lambda x: ''.join(str(x).split(','))).astype(int) 
df = product[['year', 'month','거래량']]
total = df.groupby(['year','month'], as_index=False).sum()
total.head(10)

   year month    거래량
0  2000    01   1170
1  2000    02   6369
2  2000    03   1947
3  2000    04    432
4  2000    05    858
5  2000    06     83
6  2000    07    773
7  2000    08   5929
8  2000    09   7101
9  2000    10  13081

In [3]:
total = total[:-2]
cat = pd.concat([price, total], axis=1)
result = cat[['year','month','거래량','가격']]
result.tail(10)

     year month    거래량     가격
230  2019    03  14868  22470
231  2019    04  12081  22320
232  2019    05  13297  22312
233  2019    06   7617  22092
234  2019    07   8145  21827
235  2019    08  53650  20445
236  2019    09  45879  19895
237  2019    10  57138  18825
238  2019    11  17042  18698
239  2019    12  15780  18788

In [4]:
result.groupby('year').corr()

               거래량        가격
year
2000 거래량  1.000000  0.511980
     가격   0.511980  1.000000
2001 거래량  1.000000 -0.283719
     가격  -0.283719  1.000000
2002 거래량  1.000000 -0.343199
     가격  -0.343199  1.000000
2003 거래량  1.000000 -0.161453
     가격  -0.161453  1.000000
2004 거래량  1.000000  0.917126
     가격   0.917126  1.000000
2005 거래량  1.000000  0.082663
     가격   0.082663  1.000000
2006 거래량  1.000000 -0.331531
     가격  -0.331531  1.000000
2007 거래량  1.000000  0.166899
     가격   0.166899  1.000000
2008 거래량  1.000000 -0.344285
     가격  -0.344285  1.000000
2009 거래량  1.000000  0.015514
     가격   0.015514  1.000000
2010 거래량  1.000000  0.039522
     가격   0.039522  1.000000
2011 거래량  1.000000  0.809320
     가격   0.809320  1.000000
2012 거래량  1.000000  0.276620
     가격   0.276620  1.000000
2013 거래량  1.000000 -0.862655
     가격  -0.862655  1.000000
2014 거래량  1.000000  0.689863
     가격   0.689863  1.000000
2015 거래량  1.000000  0.119548
     가격   0.119548  1.000000
2016 거래량  1.000000 -0.695910
     가격  -0.695910  1.000000
2017 거래량  1.000000  0.776483
     가격   0.776483  1.000000
2018 거래량  1.000000 -0.066782
     가격  -0.066782  1.000000
2019 거래량  1.000000 -0.607511
     가격  -0.607511  1.000000