In [1]:
import pandas as pd
price = pd.read_csv('./양파_월별_가격.csv')
price

       년도   월    가격
0    2000   1   479
1    2000   2   516
2    2000   3   744
3    2000   4   953
4    2000   5   616
5    2000   6   386
6    2000   7   409
7    2000   8   460
8    2000   9   510
9    2000  10   535
10   2000  11   633
11   2000  12   678
12   2001   1   687
13   2001   2   703
14   2001   3   721
15   2001   4   407
16   2001   5   258
17   2001   6   329
18   2001   7   358
19   2001   8   350
20   2001   9   382
21   2001  10   438
22   2001  11   448
23   2001  12   450
24   2002   1   450
25   2002   2   443
26   2002   3   392
27   2002   4   319
28   2002   5   288
29   2002   6   333
..    ...  ..   ...
210  2017   7  1203
211  2017   8  1279
212  2017   9  1280
213  2017  10  1246
214  2017  11  1247
215  2017  12  1221
216  2018   1  1195
217  2018   2  1124
218  2018   3   907
219  2018   4   786
220  2018   5   835
221  2018   6   700
222  2018   7   665
223  2018   8   769
224  2018   9   780
225  2018  10   720
226  2018  11   699
227  2018  12   661
228  2019   1   615
229  2019   2   605
230  2019   3   673
231  2019   4   868
232  2019   5   658
233  2019   6   485
234  2019   7   423
235  2019   8   500
236  2019   9   539
237  2019  10   521
238  2019  11   605
239  2019  12   749

[240 rows x 3 columns]

In [2]:
o00 = pd.read_excel('./양파_공급량/onion_00.xlsx')
o01 = pd.read_excel('./양파_공급량/onion_01.xlsx')
o02 = pd.read_excel('./양파_공급량/onion_02.xlsx')
o03 = pd.read_excel('./양파_공급량/onion_03.xlsx')
o04 = pd.read_excel('./양파_공급량/onion_04.xlsx')
o05 = pd.read_excel('./양파_공급량/onion_05.xlsx')
o06 = pd.read_excel('./양파_공급량/onion_06.xlsx')
o07 = pd.read_excel('./양파_공급량/onion_07.xlsx')
o08 = pd.read_excel('./양파_공급량/onion_08.xlsx')
o09 = pd.read_excel('./양파_공급량/onion_09.xlsx')
o10 = pd.read_excel('./양파_공급량/onion_10.xlsx')
o11 = pd.read_excel('./양파_공급량/onion_11.xlsx')
o12 = pd.read_excel('./양파_공급량/onion_12.xlsx')
o13 = pd.read_excel('./양파_공급량/onion_13.xlsx')
o14 = pd.read_excel('./양파_공급량/onion_14.xlsx')
o15 = pd.read_excel('./양파_공급량/onion_15.xlsx')
o16 = pd.read_excel('./양파_공급량/onion_16.xlsx')
o17 = pd.read_excel('./양파_공급량/onion_17.xlsx')
o18 = pd.read_excel('./양파_공급량/onion_18.xlsx')
o19 = pd.read_excel('./양파_공급량/onion_19.xlsx')
# o20 = pd.read_excel('./onion_20.xlsx')

onion = pd.concat([o00, o01, o02, o03, o04, o05, o06, o07, o08, o09, o10, o11, o12, o13, o14, o15, o16, o17, o18, o19])
# onion = onion[2:]
onion

,거래년월일,품목명,시장코드,시장명,출하지코드,출하지명,거래량,품목코드
0,총 합계,전체,NaN,NaN,NaN,NaN,"109,008,214",NaN
1,소계,양파(일반),NaN,NaN,NaN,NaN,"109,008,214",120101.0
2,20001230,양파(일반),110001.0,서울가락도매시장,232000,강원도평창군,"6,960",120101.0
3,20001230,양파(일반),110001.0,서울가락도매시장,770000,경상북도영천시,"29,090",120101.0
4,20001230,양파(일반),110001.0,서울가락도매시장,525000,전라남도함평군,"40,731",120101.0
5,20001230,양파(일반),110001.0,서울가락도매시장,534000,전라남도무안군,"67,928",120101.0
6,20001230,양파(일반),110001.0,서울가락도매시장,535000,전라남도신안군,"9,810",120101.0
7,20001230,양파(일반),220001.0,대구북부도매시장,635000,경상남도창녕군,"18,400",120101.0
8,20001230,양파(일반),340101.0,천안도매시장,135241,서울강남구개포1동,"1,170",120101.0
9,20001230,양파(일반),220001.0,대구북부도매시장,635800,경상남도창녕군창녕읍,"9,200",120101.0
10,20001230,양파(일반),220001.0,대구북부도매시장,769800,경상북도의성군의성읍,"8,600",120101.0
11,20001230,양파(일반),220001.0,대구북부도매시장,702200,대구북구읍내동,"2,300",120101.0
12,20001230,양파(일반),240001.0,광주각화도매시장,906000,광주,"33,200",120101.0
13,20001230,양파(일반),330101.0,청주도매시장,363000,충청북도청주시,"9,000",120101.0
14,20001230,양파(일반),220001.0,대구북부도매시장,711000,대구달성군,"5,600",120101.0
15,20001229,양파(일반),220001.0,대구북부도매시장,635000,경상남도창녕군,"9,800",120101.0
16,20001229,양파(일반),110001.0,서울가락도매시장,770000,경상북도영천시,"10,500",120101.0
17,20001229,양파(일반),220001.0,대구북부도매시장,635800,경상남도창녕군창녕읍,"1,400",120101.0
18,20001229,양파(일반),220001.0,대구북부도매시장,702200,대구북구읍내동,"7,900",120101.0
19,20001229,양파(일반),220001.0,대구북부도매시장,716810,경상북도군위군소보면,"2,400",120101.0
20,20001229,양파(일반),230001.0,인천구월도매시장,525000,전라남도함평군,"11,470",120101.0
21,20001229,양파(일반),230001.0,인천구월도매시장,534000,전라남도무안군,"10,160",120101.0
22,20001229,양파(일반),310401.0,안양도매시장,110832,서울종로구신영동,"10,000",120101.0
23,20001229,양파(일반),311201.0,구리도매시장,525000,전라남도함평군,"9,816",120101.0
24,20001229,양파(일반),311201.0,구리도매시장,534000,전라남도무안군,"13,124",120101.0
25,20001229,양파(일반),311201.0,구리도매시장,716800,경상북도군위군군위읍,"9,789",120101.0
26,20001229,양파(일반),330101.0,청주도매시장,363000,충청북도청주시,"18,000",120101.0
27,20001229,양파(일반),330101.0,청주도매시장,941000,충청북도청주시,"7,000",120101.0
28,20001229,양파(일반),340101.0,천안도매시장,135241,서울강남구개포1동,540,120101.0
29,20001229,양파(일반),110001.0,서울가락도매시장,534000,전라남도무안군,"10,880",120101.0
...,...,...,...,...,...,...,...,...
20537,20190103,양파(일반),250001.0,대전오정도매시장,676820,경상남도함양군안의면,"7,350",120101.0
20538,20190103,양파(일반),250001.0,대전오정도매시장,676881,경상남도함양군휴천면,"7,365",120101.0
20539,20190103,양파(일반),250003.0,대전노은도매시장,525000,전라남도함평군,"16,800",120101.0
20540,20190103,양파(일반),250003.0,대전노은도매시장,565000,전라북도완주군,"3,620",120101.0
20541,20190103,양파(일반),250003.0,대전노은도매시장,676000,경상남도함양군,"15,000",120101.0
20542,20190103,양파(일반),250003.0,대전노은도매시장,903000,대구,"15,600",120101.0
20543,20190103,양파(일반),310101.0,수원도매시장,666940,경상남도산청군단성면,"11,880",120101.0
20544,20190103,양파(일반),310101.0,수원도매시장,745852,경상북도문경시영순면,"9,450",120101.0
20545,20190103,양파(일반),380201.0,울산도매시장,636800,경상남도의령군의령읍,"15,860",120101.0
20546,20190103,양파(일반),380201.0,울산도매시장,714000,경상북도청도군,760,120101.0
20547,20190103,양파(일반),380201.0,울산도매시장,800000,수입산,"1,050",120101.0
20548,20190103,양파(일반),210001.0,부산엄궁도매시장,600000,부산중구,"7,000",120101.0
20549,20190103,양파(일반),210001.0,부산엄궁도매시장,635000,경상남도창녕군,"15,200",120101.0
20550,20190103,양파(일반),210001.0,부산엄궁도매시장,714000,경상북도청도군,180,120101.0
20551,20190103,양파(일반),220001.0,대구북부도매시장,678000,경상남도합천군,"3,000",120101.0
20552,20190103,양파(일반),220001.0,대구북부도매시장,714000,경상북도청도군,270,120101.0
20553,20190103,양파(일반),220001.0,대구북부도매시장,760000,경상북도안동시,"16,000",120101.0
20554,20190103,양파(일반),220001.0,대구북부도매시장,903000,대구,"15,000",120101.0
20555,20190103,양파(일반),230001.0,인천구월도매시장,545850,전라남도광양시진월면,"3,000",120101.0
20556,20190103,양파(일반),230001.0,인천구월도매시장,769800,경상북도의성군의성읍,"16,000",120101.0
20557,20190103,양파(일반),230001.0,인천구월도매시장,745000,경상북도문경시,"28,750",120101.0
20558,20190103,양파(일반),230001.0,인천구월도매시장,902000,부산,"3,240",120101.0
20559,20190103,양파(일반),230001.0,인천구월도매시장,618807,부산강서구대저2동,"2,400",120101.0
20560,20190103,양파(일반),230003.0,인천삼산도매시장,403010,인천부평구부평동,100,120101.0
20561,20190103,양파(일반),230003.0,인천삼산도매시장,482810,경기도양주시장흥면,"3,000",120101.0
20562,20190103,양파(일반),230003.0,인천삼산도매시장,534800,전라남도무안군무안읍,"14,350",120101.0
20563,20190103,양파(일반),230003.0,인천삼산도매시장,635820,경상남도창녕군대지면,"15,400",120101.0
20564,20190103,양파(일반),230003.0,인천삼산도매시장,525000,전라남도함평군,"19,200",120101.0
20565,20190103,양파(일반),230003.0,인천삼산도매시장,635000,경상남도창녕군,"13,280",120101.0
20566,20190103,양파(일반),230003.0,인천삼산도매시장,621150,경상남도김해시화목동,"2,380",120101.0

In [3]:
# onion[onion.apply( lambda x : print(str(x['거래년월일'])[:6]), axis=1)]
onion['year'] = onion['거래년월일'].apply(lambda x: str(x)[:4]).astype(str)
onion['month'] = onion['거래년월일'].apply(lambda x: str(x)[4:6]).astype(str)
onion['거래량'] = onion['거래량'].apply(lambda x: ''.join(str(x).split(','))).astype(int) 
df = onion[['year', 'month','거래량']]

In [4]:
# for i in year_list:
total = df.groupby(['year','month'], as_index=False).sum()
total

     year month         거래량
0    2000    01     4088280
1    2000    02     3557610
2    2000    03     4605658
3    2000    04    11877910
4    2000    05    20421827
5    2000    06    20241228
6    2000    07     7210424
7    2000    08     8839641
8    2000    09     8311447
9    2000    10     6743671
10   2000    11     7128877
11   2000    12     5981641
12   2001    01     4954414
13   2001    02     5000049
14   2001    03     5686194
15   2001    04    16677338
16   2001    05    25124817
17   2001    06    18565015
18   2001    07     7252501
19   2001    08     8041309
20   2001    09     7100282
21   2001    10     5307344
22   2001    11     5765720
23   2001    12     5350309
24   2002    01     6052343
25   2002    02     5625494
26   2002    03     7086569
27   2002    04    18053302
28   2002    05    24197983
29   2002    06    17959913
..    ...   ...         ...
212  2017    09     7847715
213  2017    10     5899830
214  2017    11     7305250
215  2017    12     6932989
216  2018    01     7499431
217  2018    02     6462395
218  2018    03     9351092
219  2018    04    14833293
220  2018    05    14288971
221  2018    06    18794137
222  2018    07     9238917
223  2018    08     9401708
224  2018    09     9718157
225  2018    10    11378143
226  2018    11    10670849
227  2018    12     7993584
228  2019    01    11386045
229  2019    02     8482183
230  2019    03    12972633
231  2019    04    16234891
232  2019    05    19802702
233  2019    06    23532282
234  2019    07    11792515
235  2019    08    11930394
236  2019    09    12329636
237  2019    10    13598455
238  2019    11    12481686
239  2019    12    12769215
240    소계        2626630426
241  총 합계        2626630426

[242 rows x 3 columns]

In [5]:
total = total[:-2]

In [6]:
cat = pd.concat([price, total], axis=1)
cat.tail(10)

       년도   월   가격  year month       거래량
230  2019   3  673  2019    03  12972633
231  2019   4  868  2019    04  16234891
232  2019   5  658  2019    05  19802702
233  2019   6  485  2019    06  23532282
234  2019   7  423  2019    07  11792515
235  2019   8  500  2019    08  11930394
236  2019   9  539  2019    09  12329636
237  2019  10  521  2019    10  13598455
238  2019  11  605  2019    11  12481686
239  2019  12  749  2019    12  12769215

In [7]:
result = cat[['year','month','거래량','가격']]
result

     year month       거래량    가격
0    2000    01   4088280   479
1    2000    02   3557610   516
2    2000    03   4605658   744
3    2000    04  11877910   953
4    2000    05  20421827   616
5    2000    06  20241228   386
6    2000    07   7210424   409
7    2000    08   8839641   460
8    2000    09   8311447   510
9    2000    10   6743671   535
10   2000    11   7128877   633
11   2000    12   5981641   678
12   2001    01   4954414   687
13   2001    02   5000049   703
14   2001    03   5686194   721
15   2001    04  16677338   407
16   2001    05  25124817   258
17   2001    06  18565015   329
18   2001    07   7252501   358
19   2001    08   8041309   350
20   2001    09   7100282   382
21   2001    10   5307344   438
22   2001    11   5765720   448
23   2001    12   5350309   450
24   2002    01   6052343   450
25   2002    02   5625494   443
26   2002    03   7086569   392
27   2002    04  18053302   319
28   2002    05  24197983   288
29   2002    06  17959913   333
..    ...   ...       ...   ...
210  2017    07   6830068  1203
211  2017    08   7085556  1279
212  2017    09   7847715  1280
213  2017    10   5899830  1246
214  2017    11   7305250  1247
215  2017    12   6932989  1221
216  2018    01   7499431  1195
217  2018    02   6462395  1124
218  2018    03   9351092   907
219  2018    04  14833293   786
220  2018    05  14288971   835
221  2018    06  18794137   700
222  2018    07   9238917   665
223  2018    08   9401708   769
224  2018    09   9718157   780
225  2018    10  11378143   720
226  2018    11  10670849   699
227  2018    12   7993584   661
228  2019    01  11386045   615
229  2019    02   8482183   605
230  2019    03  12972633   673
231  2019    04  16234891   868
232  2019    05  19802702   658
233  2019    06  23532282   485
234  2019    07  11792515   423
235  2019    08  11930394   500
236  2019    09  12329636   539
237  2019    10  13598455   521
238  2019    11  12481686   605
239  2019    12  12769215   749

[240 rows x 4 columns]

In [8]:
result.groupby('year').corr()

               거래량        가격
year
2000 거래량  1.000000 -0.048555
     가격  -0.048555  1.000000
2001 거래량  1.000000 -0.614752
     가격  -0.614752  1.000000
2002 거래량  1.000000 -0.800802
     가격  -0.800802  1.000000
2003 거래량  1.000000 -0.148720
     가격  -0.148720  1.000000
2004 거래량  1.000000 -0.701445
     가격  -0.701445  1.000000
2005 거래량  1.000000  0.115732
     가격   0.115732  1.000000
2006 거래량  1.000000 -0.411398
     가격  -0.411398  1.000000
2007 거래량  1.000000 -0.494498
     가격  -0.494498  1.000000
2008 거래량  1.000000 -0.432081
     가격  -0.432081  1.000000
2009 거래량  1.000000 -0.094541
     가격  -0.094541  1.000000
2010 거래량  1.000000  0.181768
     가격   0.181768  1.000000
2011 거래량  1.000000 -0.729797
     가격  -0.729797  1.000000
2012 거래량  1.000000 -0.538317
     가격  -0.538317  1.000000
2013 거래량  1.000000 -0.162163
     가격  -0.162163  1.000000
2014 거래량  1.000000 -0.602738
     가격  -0.602738  1.000000
2015 거래량  1.000000 -0.707700
     가격  -0.707700  1.000000
2016 거래량  1.000000 -0.335356
     가격  -0.335356  1.000000
2017 거래량  1.000000 -0.694133
     가격  -0.694133  1.000000
2018 거래량  1.000000 -0.436600
     가격  -0.436600  1.000000
2019 거래량  1.000000  0.043307
     가격   0.043307  1.000000